doctype html

head
    title patrickhrastnik.github.io - UNDER CONSTRUCTION
    meta(name="viewport" content="width=device-width, initial-scale=1, shrint-to-fit=no")
    link(rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css")    
    <style>body { padding-top: 50px; } .starter-template { padding: 40px 15px; text-align: center; } </style>
body
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#") patrickhrastnik.github.io
            #navbar.navbar-collapse.collapse(aria-expanded="false" style="height:1px;")
                //- ul.nav.navbar-nav
                    li.active 
                        a(href="#") testhras
                    li
                        a(href="#") test2hras

    #content.content
        .starter-template
            h1 This site is currently under construction
            p.lead Please come back later.