doctype html

head
    title patrickhrastnik.github.io - UNDER CONSTRUCTION
    link(rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css")    

body
    h1 This site is currently under construction
    p Please come back later.